<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>brAInd</title>
   @entryPointStyles('app')
  {{--  @entryPointScripts('app')  --}}
</head>
<body>

  <main class="flex items-center justify-center h-screen">
     <h1 class="text-3xl text-blue-600 font-bold underline">
    Adresa de email validata cu succes!
  </h1>
  
    <a href="{{url}}" target="_blank" rel="noopener noreferrer" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">

  
   Autentificare in aplicatie
  </a>

  </main>
</body>
</html>