<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice Template</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
        }
        .invoice {
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 30px;
        }
        .header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
        }
        .header h2 {
            color: #333;
            margin: 0;
        }
        .header p {
            margin: 0;
        }
        .invoice-info {
            text-align: center;
            margin-bottom: 30px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 30px;
        }
        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
        .total {
            text-align: right;
            margin-bottom: 20px;
        }
        .mentions {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="invoice">
        <div class="header">
            <div>
                <h2>{{factura[0].denumirefurnizor}}</h2>
                <p>Cod fiscal:{{factura[0].codfiscalfurnizor}}</p>
                <p>Str. Negru Voda nr. 47, Pitesti</p>
                <p>ARGES, ROMANIA</p>
                <p>E-mail: smupitesti@mapn.ro</p>
            </div>
                    <img src="/sigle/sigla_smup.png" alt="Logo" style="max-height: 200px; max-width: 200px;">
            <div>
                <h2>{{factura[0].numeclient}}</h2>
                <p>Cod fiscal:{{factura[0].codfiscalclient}}</p>
                <p>Str. Popa Savu nr. 45</p>
                <p>Bucuresti, sect. 1 ROMANIA</p>
            </div>
        </div>
        <div class="invoice-info">
            <h1>Factura fiscala</h1>
            <p>Factura nr.: {{factura[0].serie}} {{factura[0].numar}}</p>
            <p>Data: {{factura[0].dataFactura}}</p>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nr. crt.</th>
                    <th>Produs/serviciu</th>
                    <th>U.M.</th>
                    <th>Cantitate</th>
                    <th>Pret</th>
                    <th>Valoare</th>
                </tr>
            </thead>
            <tbody>
              @each((linie, index) in factura)
                   <tr>
                    <td>{{index+1}}.</td>
                    <td>{{linie.numeprodus}} </td>
                    <td>{{linie.um}}</td>
                    <td>{{linie.cantitate}}</td>
                    <td>{{linie.pret}}</td>
                    <td>{{linie.valoare}}</td>
                </tr>
            @endeach


            </tbody>
        </table>
        <div class="total">
            <h3>Total valoare: {{total}} lei.</h3>
        </div>
        <div class="header">
                <div class="mentions">
                     <p>{{factura[0].mentiuni}}</p>
                 </div>
                <div class="mentions">
                     Intocmit: {{factura[0].intocmit}}
                 </div>
        </div>

    </div>
</body>
</html>